<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abner.code">

    <application
        android:name=".CodeApp"
        android:icon="@mipmap/ic_launcher"
        android:label="code"
        android:theme="@style/Code">
        <activity android:name=".CodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>