<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abner.account">

    <application
        android:name=".AccountApp"
        android:icon="@mipmap/ic_launcher"
        android:label="account"
        android:theme="@style/Account">
        <activity android:name=".AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>